.main__section2__container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  gap: 1.5rem;
  border-radius: 16px;

  .left__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;

    .left__image {
      img {
        width: 100%;
        height: auto;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .right__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 5px 15px;

    .right__heading {
      color: #000000;
      font-size: 28px;
      font-weight: 700;
      text-align: left !important;
      font-family: myFirstFont !important;
    }

    .right__context {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
    }
  }
}

@media only screen and (max-width: 480px) {
  .main__section2__container {
    display: flex;
    flex-direction: column;
  }

  .left__image {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .main__section2__container {
    display: flex;
    flex-direction: column;
  }

  .left__image {
    margin-top: 10px;
  }
}
