* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
  img {
    width: 100px;
    height: auto;
  }
}

header {
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 80px;
  background-color: transparent;
  color: #fff;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;

  .subscribe-link {
    border-radius: 3px;
    padding: 10px 20px;
    background-color: #000000cf;
  }
}

nav a {
  padding: 5px;
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

nav a:first-child {
  color: #161616cf;
  padding: 7px;
  font-size: 20px;
  font-weight: 800;
}

nav .nav-btn,
.nav-btn {
  padding: 12px;
  width: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: none;
  font-size: 1.8rem;
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  header .nav-btn {
    display: block;
    visibility: visible;
    opacity: 1;
    color: #161616fb;
  }

  nav a:first-child {
    color: #fff;
  }

  header nav {
    z-index: 2;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    background-color: #161616;
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    width: 100vw;
    overflow: hidden;
    transform: none;
    z-index: 2;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #fff !important;
  }

  nav a {
    font-size: 1.5rem;
  }
}
