.main__footer {
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      text-align: center;
      color: #000;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.link {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: right !important;
}
.loml {
  font-size: 12px !important;
}

@media only screen and (max-width: 450px) {
  .footer__content {
    text-align: center;
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px) {
  p.paragraph {
    font-size: 15px !important;
  }
}
