.main__coming {
  position: relative;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: fit-content;

  .coming__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .coming__title {
      font-size: 34px;
      font-weight: 600;
    }

    .coming__price {
      font-family: "Montserrat", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      font-size: 25px;
      font-weight: 700;
    }

    .my__list {
      display: flex;
      flex-direction: column;
      text-align: left !important;
      font-weight: 500;
    }
  }
}

.special__price {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // bottom: 310px;
  // left: 280px;
  background-color: #161616;
  width: 170px;
  height: fit-content;
  padding: 15px 25px;
  margin-top: 20px;

  h3 {
    font-weight: 600;
    color: #fff;
  }
}
